In [1]:
from __future__ import print_function, division

In [2]:
import pandas as pd
import numpy as np
import datetime
import seaborn

In [3]:
def get_data(week_nums):
    url = "http://web.mta.info/developers/data/nyct/turnstile/turnstile_{}.txt"
    dfs = []
    for week_num in week_nums:
        file_url = url.format(week_num)
        dfs.append(pd.read_csv(file_url))
    return pd.concat(dfs)
        
week_nums = [160903, 160910, 160917]
turnstiles_df = get_data(week_nums)

In [4]:
turnstiles_df.columns = [column.strip() for column in turnstiles_df.columns]

In [5]:
turnstiles_df["DATE_TIME"] = pd.to_datetime(turnstiles_df.DATE + " " + turnstiles_df.TIME, format="%m/%d/%Y %H:%M:%S")

turnstiles_df = turnstiles_df.sort_values("DATE_TIME", ascending = True)
turnstiles_df

,C/A,UNIT,SCP,STATION,LINENAME,DIVISION,DATE,TIME,DESC,ENTRIES,EXITS,DATE_TIME
0,A002,R051,02-00-00,59 ST,NQR456,BMT,08/27/2016,00:00:00,REGULAR,5799442,1966041,2016-08-27 00:00:00
31143,H015,R250,01-00-01,GRAND ST,L,BMT,08/27/2016,00:00:00,REGULAR,2022402,540001,2016-08-27 00:00:00
31101,H015,R250,01-00-00,GRAND ST,L,BMT,08/27/2016,00:00:00,REGULAR,6074383,3441284,2016-08-27 00:00:00
31059,H014,R249,00-00-02,GRAHAM AV,L,BMT,08/27/2016,00:00:00,REGULAR,827615,2876161,2016-08-27 00:00:00
146887,R237,R046,01-00-00,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,1063454,3300438,2016-08-27 00:00:00
2489,A016,R081,03-00-02,49 ST,NQR,BMT,08/27/2016,00:00:00,REGULAR,12683072,3965179,2016-08-27 00:00:00
146929,R237,R046,01-00-01,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,3275688,7334536,2016-08-27 00:00:00
31017,H014,R249,00-00-01,GRAHAM AV,L,BMT,08/27/2016,00:00:00,REGULAR,817028,3607718,2016-08-27 00:00:00
146971,R237,R046,01-00-02,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,5328675,6348564,2016-08-27 00:00:00
30975,H014,R249,00-00-00,GRAHAM AV,L,BMT,08/27/2016,00:00:00,REGULAR,1683400,10461721,2016-08-27 00:00:00
147013,R237,R046,01-00-03,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,6457244,5700097,2016-08-27 00:00:00
147055,R237,R046,01-00-04,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,4805185,3438347,2016-08-27 00:00:00
30932,H013,R249,01-00-02,GRAHAM AV,L,BMT,08/27/2016,00:00:00,REGULAR,11870720,1038515,2016-08-27 00:00:00
147097,R237,R046,01-00-05,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,4853537,3576154,2016-08-27 00:00:00
30889,H013,R249,01-00-01,GRAHAM AV,L,BMT,08/27/2016,00:00:00,REGULAR,11815137,1367215,2016-08-27 00:00:00
147139,R237,R046,01-00-06,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,8044997,3950633,2016-08-27 00:00:00
30846,H013,R249,01-00-00,GRAHAM AV,L,BMT,08/27/2016,00:00:00,REGULAR,4050383,702087,2016-08-27 00:00:00
147365,R238,R046,00-00-00,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,1638894,11122678,2016-08-27 00:00:00
147409,R238,R046,00-00-01,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,2632700,6930903,2016-08-27 00:00:00
147453,R238,R046,00-00-05,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,12864175,4418849,2016-08-27 00:00:00
31185,H015,R250,01-00-02,GRAND ST,L,BMT,08/27/2016,00:00:00,REGULAR,6226252,1857501,2016-08-27 00:00:00
147497,R238,R046,00-00-06,GRD CNTRL-42 ST,4567S,IRT,08/27/2016,00:00:00,REGULAR,17147401,6269471,2016-08-27 00:00:00
31227,H016,R250,00-00-00,GRAND ST,L,BMT,08/27/2016,00:00:00,REGULAR,735084,2215666,2016-08-27 00:00:00
31311,H016,R250,00-00-02,GRAND ST,L,BMT,08/27/2016,00:00:00,REGULAR,729293,2193461,2016-08-27 00:00:00
32073,H023,R236,00-06-00,DEKALB AV,L,BMT,08/27/2016,00:00:00,REGULAR,1929227726,855711309,2016-08-27 00:00:00
32029,H023,R236,00-00-02,DEKALB AV,L,BMT,08/27/2016,00:00:00,REGULAR,6087512,4248112,2016-08-27 00:00:00
31985,H023,R236,00-00-01,DEKALB AV,L,BMT,08/27/2016,00:00:00,REGULAR,4836253,2899479,2016-08-27 00:00:00
31941,H023,R236,00-00-00,DEKALB AV,L,BMT,08/27/2016,00:00:00,REGULAR,2899883,1115162,2016-08-27 00:00:00
31899,H022,R279,00-06-01,JEFFERSON ST,L,BMT,08/27/2016,00:00:00,REGULAR,7154199,3563010,2016-08-27 00:00:00
31857,H022,R279,00-06-00,JEFFERSON ST,L,BMT,08/27/2016,00:00:00,REGULAR,1101492,469712,2016-08-27 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...
116434,PTH18,R549,01-00-06,NEWARK BM BW,1,PTH,09/16/2016,23:25:51,REGULAR,40731,1116,2016-09-16 23:25:51
113769,PTH12,R542,00-00-03,TWENTY THIRD ST,1,PTH,09/16/2016,23:31:18,REGULAR,2055816,72392,2016-09-16 23:31:18
116475,PTH18,R549,01-00-07,NEWARK BM BW,1,PTH,09/16/2016,23:31:35,REGULAR,33671,928071,2016-09-16 23:31:35
112506,PTH07,R550,00-01-05,CITY / BUS,1,PTH,09/16/2016,23:32:17,REGULAR,71323,36407,2016-09-16 23:32:17
110374,PTH04,R551,00-04-01,GROVE STREET,1,PTH,09/16/2016,23:32:21,REGULAR,649773,524741,2016-09-16 23:32:21
110414,PTH04,R551,00-04-02,GROVE STREET,1,PTH,09/16/2016,23:32:22,REGULAR,156958,74612,2016-09-16 23:32:22
112648,PTH07,R550,00-02-00,CITY / BUS,1,PTH,09/16/2016,23:33:25,REGULAR,2681,16699,2016-09-16 23:33:25
116034,PTH17,R541,01-01-02,THIRTY THIRD ST,1,PTH,09/16/2016,23:34:14,REGULAR,290766,122237,2016-09-16 23:34:14
111387,PTH05,R543,00-04-05,EXCHANGE PLACE,1,PTH,09/16/2016,23:34:33,REGULAR,1,0,2016-09-16 23:34:33
115914,PTH17,R541,01-00-0A,THIRTY THIRD ST,1,PTH,09/16/2016,23:35:25,REGULAR,344415,255705,2016-09-16 23:35:25
114601,PTH13,R541,00-04-08,THIRTY ST,1,PTH,09/16/2016,23:35:31,REGULAR,0,67058,2016-09-16 23:35:31
117275,PTH19,R549,02-01-06,NEWARK C,1,PTH,09/16/2016,23:35:44,REGULAR,46840,3399,2016-09-16 23:35:44
108119,PTH01,R549,00-00-02,NEWARK HW BMEBE,1,PTH,09/16/2016,23:38:47,REGULAR,5507,44,2016-09-16 23:38:47
115994,PTH17,R541,01-01-01,THIRTY THIRD ST,1,PTH,09/16/2016,23:39:02,REGULAR,75577,31716,2016-09-16 23:39:02
109579,PTH03,R552,00-01-03,JOURNAL SQUARE,1,PTH,09/16/2016,23:39:12,REGULAR,380743,424490,2016-09-16 23:39:12
117714,PTH20,R549,03-00-04,NEWARK HM HE,1,PTH,09/16/2016,23:40:06,REGULAR,119963,440329,2016-09-16 23:40:06
114521,PTH13,R541,00-04-06,THIRTY ST,1,PTH,09/16/2016,23:40:35,REGULAR,2060052,544564,2016-09-16 23:40:35
111087,PTH05,R543,00-01-05,EXCHANGE PLACE,1,PTH,09/16/2016,23:41:07,REGULAR,15502,3906,2016-09-16 23:41:07
110493,PTH04,R551,00-04-04,GROVE STREET,1,PTH,09/16/2016,23:42:41,REGULAR,121165,62947,2016-09-16 23:42:41
117155,PTH19,R549,02-01-02,NEWARK C,1,PTH,09/16/2016,23:42:45,REGULAR,225277,16100,2016-09-16 23:42:45
109539,PTH03,R552,00-00-0A,JOURNAL SQUARE,1,PTH,09/16/2016,23:43:17,REGULAR,52,1549085,2016-09-16 23:43:17
113488,PTH11,R545,00-04-02,14TH STREET,1,PTH,09/16/2016,23:45:38,REGULAR,8377,133235,2016-09-16 23:45:38
110728,PTH05,R543,00-00-04,EXCHANGE PLACE,1,PTH,09/16/2016,23:46:19,REGULAR,818173,719775,2016-09-16 23:46:19
108279,PTH01,R549,00-00-07,NEWARK HW BMEBE,1,PTH,09/16/2016,23:47:47,REGULAR,423322,18112,2016-09-16 23:47:47
112147,PTH07,R550,00-00-03,CITY / BUS,1,PTH,09/16/2016,23:48:26,REGULAR,2592610,1223705,2016-09-16 23:48:26
114129,PTH13,R541,00-00-03,THIRTY ST,1,PTH,09/16/2016,23:49:29,REGULAR,2114,4896,2016-09-16 23:49:29
113689,PTH12,R542,00-00-01,TWENTY THIRD ST,1,PTH,09/16/2016,23:55:31,REGULAR,208927,3184,2016-09-16 23:55:31
115161,PTH16,R550,01-01-03,LACKAWANNA,1,PTH,09/16/2016,23:57:47,REGULAR,8690,3667,2016-09-16 23:57:47
108628,PTH02,R544,00-00-00,HARRISON,1,PTH,09/16/2016,23:58:38,REGULAR,252939,47058,2016-09-16 23:58:38
110094,PTH04,R551,00-01-00,GROVE STREET,1,PTH,09/16/2016,23:59:01,REGULAR,94095,45145,2016-09-16 23:59:01

In [128]:
turnstiles_df['DAYOFWEEK'] = turnstiles_df['DATE_TIME'].dt.dayofweek

df = turnstiles_df.sort_values(by=['DATE_TIME']).groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE_TIME', 'DATE', 'TIME', 'DAYOFWEEK'], as_index = False).ENTRIES.max()

entrydf = df.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE'], as_index = False).ENTRIES.max()

entrydf['DAILY'] = df.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE'], as_index = False).ENTRIES.max()['ENTRIES'] - df.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE'], as_index = False).ENTRIES.min()['ENTRIES']

entrydf = entrydf.drop(['ENTRIES'], axis = 1)

In [129]:
df = pd.merge(df, entrydf, on=['C/A', 'UNIT', 'SCP', 'STATION', 'DATE'])

In [130]:
dfshift = df.shift(1)

In [131]:
df['PREVDT'] = dfshift['DATE_TIME']
df['PREVENT'] = dfshift['ENTRIES']
df['PREVTIME'] = dfshift['TIME']
df['ENTRIESDIFF'] = df['ENTRIES'] - df['PREVENT']
df['TIMEDIFF'] = df['DATE_TIME'] - df['PREVDT']
df['ENTRYPROP'] = df['ENTRIESDIFF']/df['DAILY']

df

,C/A,UNIT,SCP,STATION,DATE_TIME,DATE,TIME,DAYOFWEEK,ENTRIES,DAILY,PREVDT,PREVENT,PREVTIME,ENTRIESDIFF,TIMEDIFF,ENTRYPROP
0,A002,R051,02-00-00,59 ST,2016-08-27 00:00:00,08/27/2016,00:00:00,5,5799442,679,NaT,NaN,NaN,NaN,NaT,NaN
1,A002,R051,02-00-00,59 ST,2016-08-27 04:00:00,08/27/2016,04:00:00,5,5799463,679,2016-08-27 00:00:00,5799442.0,00:00:00,21.0,04:00:00,0.030928
2,A002,R051,02-00-00,59 ST,2016-08-27 08:00:00,08/27/2016,08:00:00,5,5799492,679,2016-08-27 04:00:00,5799463.0,04:00:00,29.0,04:00:00,0.042710
3,A002,R051,02-00-00,59 ST,2016-08-27 12:00:00,08/27/2016,12:00:00,5,5799610,679,2016-08-27 08:00:00,5799492.0,08:00:00,118.0,04:00:00,0.173785
4,A002,R051,02-00-00,59 ST,2016-08-27 16:00:00,08/27/2016,16:00:00,5,5799833,679,2016-08-27 12:00:00,5799610.0,12:00:00,223.0,04:00:00,0.328424
5,A002,R051,02-00-00,59 ST,2016-08-27 20:00:00,08/27/2016,20:00:00,5,5800121,679,2016-08-27 16:00:00,5799833.0,16:00:00,288.0,04:00:00,0.424153
6,A002,R051,02-00-00,59 ST,2016-08-28 00:00:00,08/28/2016,00:00:00,6,5800252,546,2016-08-27 20:00:00,5800121.0,20:00:00,131.0,04:00:00,0.239927
7,A002,R051,02-00-00,59 ST,2016-08-28 04:00:00,08/28/2016,04:00:00,6,5800281,546,2016-08-28 00:00:00,5800252.0,00:00:00,29.0,04:00:00,0.053114
8,A002,R051,02-00-00,59 ST,2016-08-28 08:00:00,08/28/2016,08:00:00,6,5800295,546,2016-08-28 04:00:00,5800281.0,04:00:00,14.0,04:00:00,0.025641
9,A002,R051,02-00-00,59 ST,2016-08-28 12:00:00,08/28/2016,12:00:00,6,5800377,546,2016-08-28 08:00:00,5800295.0,08:00:00,82.0,04:00:00,0.150183
10,A002,R051,02-00-00,59 ST,2016-08-28 16:00:00,08/28/2016,16:00:00,6,5800572,546,2016-08-28 12:00:00,5800377.0,12:00:00,195.0,04:00:00,0.357143
11,A002,R051,02-00-00,59 ST,2016-08-28 20:00:00,08/28/2016,20:00:00,6,5800798,546,2016-08-28 16:00:00,5800572.0,16:00:00,226.0,04:00:00,0.413919
12,A002,R051,02-00-00,59 ST,2016-08-29 00:00:00,08/29/2016,00:00:00,0,5800934,1402,2016-08-28 20:00:00,5800798.0,20:00:00,136.0,04:00:00,0.097004
13,A002,R051,02-00-00,59 ST,2016-08-29 04:00:00,08/29/2016,04:00:00,0,5800947,1402,2016-08-29 00:00:00,5800934.0,00:00:00,13.0,04:00:00,0.009272
14,A002,R051,02-00-00,59 ST,2016-08-29 08:00:00,08/29/2016,08:00:00,0,5800996,1402,2016-08-29 04:00:00,5800947.0,04:00:00,49.0,04:00:00,0.034950
15,A002,R051,02-00-00,59 ST,2016-08-29 12:00:00,08/29/2016,12:00:00,0,5801176,1402,2016-08-29 08:00:00,5800996.0,08:00:00,180.0,04:00:00,0.128388
16,A002,R051,02-00-00,59 ST,2016-08-29 16:00:00,08/29/2016,16:00:00,0,5801495,1402,2016-08-29 12:00:00,5801176.0,12:00:00,319.0,04:00:00,0.227532
17,A002,R051,02-00-00,59 ST,2016-08-29 20:00:00,08/29/2016,20:00:00,0,5802336,1402,2016-08-29 16:00:00,5801495.0,16:00:00,841.0,04:00:00,0.599857
18,A002,R051,02-00-00,59 ST,2016-08-30 00:00:00,08/30/2016,00:00:00,1,5802514,1361,2016-08-29 20:00:00,5802336.0,20:00:00,178.0,04:00:00,0.130786
19,A002,R051,02-00-00,59 ST,2016-08-30 04:00:00,08/30/2016,04:00:00,1,5802528,1361,2016-08-30 00:00:00,5802514.0,00:00:00,14.0,04:00:00,0.010287
20,A002,R051,02-00-00,59 ST,2016-08-30 08:00:00,08/30/2016,08:00:00,1,5802575,1361,2016-08-30 04:00:00,5802528.0,04:00:00,47.0,04:00:00,0.034533
21,A002,R051,02-00-00,59 ST,2016-08-30 12:00:00,08/30/2016,12:00:00,1,5802760,1361,2016-08-30 08:00:00,5802575.0,08:00:00,185.0,04:00:00,0.135929
22,A002,R051,02-00-00,59 ST,2016-08-30 16:00:00,08/30/2016,16:00:00,1,5803047,1361,2016-08-30 12:00:00,5802760.0,12:00:00,287.0,04:00:00,0.210874
23,A002,R051,02-00-00,59 ST,2016-08-30 20:00:00,08/30/2016,20:00:00,1,5803875,1361,2016-08-30 16:00:00,5803047.0,16:00:00,828.0,04:00:00,0.608376
24,A002,R051,02-00-00,59 ST,2016-08-31 00:00:00,08/31/2016,00:00:00,2,5804071,1312,2016-08-30 20:00:00,5803875.0,20:00:00,196.0,04:00:00,0.149390
25,A002,R051,02-00-00,59 ST,2016-08-31 04:00:00,08/31/2016,04:00:00,2,5804084,1312,2016-08-31 00:00:00,5804071.0,00:00:00,13.0,04:00:00,0.009909
26,A002,R051,02-00-00,59 ST,2016-08-31 08:00:00,08/31/2016,08:00:00,2,5804129,1312,2016-08-31 04:00:00,5804084.0,04:00:00,45.0,04:00:00,0.034299
27,A002,R051,02-00-00,59 ST,2016-08-31 12:00:00,08/31/2016,12:00:00,2,5804308,1312,2016-08-31 08:00:00,5804129.0,08:00:00,179.0,04:00:00,0.136433
28,A002,R051,02-00-00,59 ST,2016-08-31 16:00:00,08/31/2016,16:00:00,2,5804589,1312,2016-08-31 12:00:00,5804308.0,12:00:00,281.0,04:00:00,0.214177
29,A002,R051,02-00-00,59 ST,2016-08-31 20:00:00,08/31/2016,20:00:00,2,5805383,1312,2016-08-31 16:00:00,5804589.0,16:00:00,794.0,04:00:00,0.605183
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580864,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 01:00:00,09/12/2016,01:00:00,0,5554,0,2016-09-11 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580865,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 05:00:00,09/12/2016,05:00:00,0,5554,0,2016-09-12 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580866,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 09:00:00,09/12/2016,09:00:00,0,5554,0,2016-09-12 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580867,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 13:00:00,09/12/2016,13:00:00,0,5554,0,2016-09-12 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580868,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 17:00:00,09/12/2016,17:00:00,0,5554,0,2016-09-12 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580869,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 21:00:00,09/12/2016,21:00:00,0,5554,0,2016-09-12 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN
580870,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 01:00:00,09/13/2016,01:00:00,1,5554,0,2016-09-12 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580871,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 05:00:00,09/13/2016,05:00:00,1,5554,0,2016-09-13 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580872,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 09:00:00,09/13/2016,09:00:00,1,5554,0,2016-09-13 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580873,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 13:00:00,09/13/2016,13:00:00,1,5554,0,2016-09-13 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580874,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 17:00:00,09/13/2016,17:00:00,1,5554,0,2016-09-13 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580875,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 21:00:00,09/13/2016,21:00:00,1,5554,0,2016-09-13 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN
580876,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 01:00:00,09/14/2016,01:00:00,2,5554,0,2016-09-13 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580877,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 05:00:00,09/14/2016,05:00:00,2,5554,0,2016-09-14 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580878,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 09:00:00,09/14/2016,09:00:00,2,5554,0,2016-09-14 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580879,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 13:00:00,09/14/2016,13:00:00,2,5554,0,2016-09-14 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580880,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 17:00:00,09/14/2016,17:00:00,2,5554,0,2016-09-14 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580881,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 21:00:00,09/14/2016,21:00:00,2,5554,0,2016-09-14 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN
580882,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 01:00:00,09/15/2016,01:00:00,3,5554,0,2016-09-14 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580883,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 05:00:00,09/15/2016,05:00:00,3,5554,0,2016-09-15 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580884,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 09:00:00,09/15/2016,09:00:00,3,5554,0,2016-09-15 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580885,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 13:00:00,09/15/2016,13:00:00,3,5554,0,2016-09-15 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580886,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 17:00:00,09/15/2016,17:00:00,3,5554,0,2016-09-15 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580887,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 21:00:00,09/15/2016,21:00:00,3,5554,0,2016-09-15 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN
580888,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 01:00:00,09/16/2016,01:00:00,4,5554,0,2016-09-15 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580889,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 05:00:00,09/16/2016,05:00:00,4,5554,0,2016-09-16 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580890,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 09:00:00,09/16/2016,09:00:00,4,5554,0,2016-09-16 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580891,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 13:00:00,09/16/2016,13:00:00,4,5554,0,2016-09-16 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580892,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 17:00:00,09/16/2016,17:00:00,4,5554,0,2016-09-16 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580893,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 21:00:00,09/16/2016,21:00:00,4,5554,0,2016-09-16 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN

In [132]:
df = df.drop(df.index[0])

In [133]:
df

,C/A,UNIT,SCP,STATION,DATE_TIME,DATE,TIME,DAYOFWEEK,ENTRIES,DAILY,PREVDT,PREVENT,PREVTIME,ENTRIESDIFF,TIMEDIFF,ENTRYPROP
1,A002,R051,02-00-00,59 ST,2016-08-27 04:00:00,08/27/2016,04:00:00,5,5799463,679,2016-08-27 00:00:00,5799442.0,00:00:00,21.0,04:00:00,0.030928
2,A002,R051,02-00-00,59 ST,2016-08-27 08:00:00,08/27/2016,08:00:00,5,5799492,679,2016-08-27 04:00:00,5799463.0,04:00:00,29.0,04:00:00,0.042710
3,A002,R051,02-00-00,59 ST,2016-08-27 12:00:00,08/27/2016,12:00:00,5,5799610,679,2016-08-27 08:00:00,5799492.0,08:00:00,118.0,04:00:00,0.173785
4,A002,R051,02-00-00,59 ST,2016-08-27 16:00:00,08/27/2016,16:00:00,5,5799833,679,2016-08-27 12:00:00,5799610.0,12:00:00,223.0,04:00:00,0.328424
5,A002,R051,02-00-00,59 ST,2016-08-27 20:00:00,08/27/2016,20:00:00,5,5800121,679,2016-08-27 16:00:00,5799833.0,16:00:00,288.0,04:00:00,0.424153
6,A002,R051,02-00-00,59 ST,2016-08-28 00:00:00,08/28/2016,00:00:00,6,5800252,546,2016-08-27 20:00:00,5800121.0,20:00:00,131.0,04:00:00,0.239927
7,A002,R051,02-00-00,59 ST,2016-08-28 04:00:00,08/28/2016,04:00:00,6,5800281,546,2016-08-28 00:00:00,5800252.0,00:00:00,29.0,04:00:00,0.053114
8,A002,R051,02-00-00,59 ST,2016-08-28 08:00:00,08/28/2016,08:00:00,6,5800295,546,2016-08-28 04:00:00,5800281.0,04:00:00,14.0,04:00:00,0.025641
9,A002,R051,02-00-00,59 ST,2016-08-28 12:00:00,08/28/2016,12:00:00,6,5800377,546,2016-08-28 08:00:00,5800295.0,08:00:00,82.0,04:00:00,0.150183
10,A002,R051,02-00-00,59 ST,2016-08-28 16:00:00,08/28/2016,16:00:00,6,5800572,546,2016-08-28 12:00:00,5800377.0,12:00:00,195.0,04:00:00,0.357143
11,A002,R051,02-00-00,59 ST,2016-08-28 20:00:00,08/28/2016,20:00:00,6,5800798,546,2016-08-28 16:00:00,5800572.0,16:00:00,226.0,04:00:00,0.413919
12,A002,R051,02-00-00,59 ST,2016-08-29 00:00:00,08/29/2016,00:00:00,0,5800934,1402,2016-08-28 20:00:00,5800798.0,20:00:00,136.0,04:00:00,0.097004
13,A002,R051,02-00-00,59 ST,2016-08-29 04:00:00,08/29/2016,04:00:00,0,5800947,1402,2016-08-29 00:00:00,5800934.0,00:00:00,13.0,04:00:00,0.009272
14,A002,R051,02-00-00,59 ST,2016-08-29 08:00:00,08/29/2016,08:00:00,0,5800996,1402,2016-08-29 04:00:00,5800947.0,04:00:00,49.0,04:00:00,0.034950
15,A002,R051,02-00-00,59 ST,2016-08-29 12:00:00,08/29/2016,12:00:00,0,5801176,1402,2016-08-29 08:00:00,5800996.0,08:00:00,180.0,04:00:00,0.128388
16,A002,R051,02-00-00,59 ST,2016-08-29 16:00:00,08/29/2016,16:00:00,0,5801495,1402,2016-08-29 12:00:00,5801176.0,12:00:00,319.0,04:00:00,0.227532
17,A002,R051,02-00-00,59 ST,2016-08-29 20:00:00,08/29/2016,20:00:00,0,5802336,1402,2016-08-29 16:00:00,5801495.0,16:00:00,841.0,04:00:00,0.599857
18,A002,R051,02-00-00,59 ST,2016-08-30 00:00:00,08/30/2016,00:00:00,1,5802514,1361,2016-08-29 20:00:00,5802336.0,20:00:00,178.0,04:00:00,0.130786
19,A002,R051,02-00-00,59 ST,2016-08-30 04:00:00,08/30/2016,04:00:00,1,5802528,1361,2016-08-30 00:00:00,5802514.0,00:00:00,14.0,04:00:00,0.010287
20,A002,R051,02-00-00,59 ST,2016-08-30 08:00:00,08/30/2016,08:00:00,1,5802575,1361,2016-08-30 04:00:00,5802528.0,04:00:00,47.0,04:00:00,0.034533
21,A002,R051,02-00-00,59 ST,2016-08-30 12:00:00,08/30/2016,12:00:00,1,5802760,1361,2016-08-30 08:00:00,5802575.0,08:00:00,185.0,04:00:00,0.135929
22,A002,R051,02-00-00,59 ST,2016-08-30 16:00:00,08/30/2016,16:00:00,1,5803047,1361,2016-08-30 12:00:00,5802760.0,12:00:00,287.0,04:00:00,0.210874
23,A002,R051,02-00-00,59 ST,2016-08-30 20:00:00,08/30/2016,20:00:00,1,5803875,1361,2016-08-30 16:00:00,5803047.0,16:00:00,828.0,04:00:00,0.608376
24,A002,R051,02-00-00,59 ST,2016-08-31 00:00:00,08/31/2016,00:00:00,2,5804071,1312,2016-08-30 20:00:00,5803875.0,20:00:00,196.0,04:00:00,0.149390
25,A002,R051,02-00-00,59 ST,2016-08-31 04:00:00,08/31/2016,04:00:00,2,5804084,1312,2016-08-31 00:00:00,5804071.0,00:00:00,13.0,04:00:00,0.009909
26,A002,R051,02-00-00,59 ST,2016-08-31 08:00:00,08/31/2016,08:00:00,2,5804129,1312,2016-08-31 04:00:00,5804084.0,04:00:00,45.0,04:00:00,0.034299
27,A002,R051,02-00-00,59 ST,2016-08-31 12:00:00,08/31/2016,12:00:00,2,5804308,1312,2016-08-31 08:00:00,5804129.0,08:00:00,179.0,04:00:00,0.136433
28,A002,R051,02-00-00,59 ST,2016-08-31 16:00:00,08/31/2016,16:00:00,2,5804589,1312,2016-08-31 12:00:00,5804308.0,12:00:00,281.0,04:00:00,0.214177
29,A002,R051,02-00-00,59 ST,2016-08-31 20:00:00,08/31/2016,20:00:00,2,5805383,1312,2016-08-31 16:00:00,5804589.0,16:00:00,794.0,04:00:00,0.605183
30,A002,R051,02-00-00,59 ST,2016-09-01 00:00:00,09/01/2016,00:00:00,3,5805638,1352,2016-08-31 20:00:00,5805383.0,20:00:00,255.0,04:00:00,0.188609
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580864,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 01:00:00,09/12/2016,01:00:00,0,5554,0,2016-09-11 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580865,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 05:00:00,09/12/2016,05:00:00,0,5554,0,2016-09-12 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580866,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 09:00:00,09/12/2016,09:00:00,0,5554,0,2016-09-12 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580867,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 13:00:00,09/12/2016,13:00:00,0,5554,0,2016-09-12 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580868,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 17:00:00,09/12/2016,17:00:00,0,5554,0,2016-09-12 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580869,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 21:00:00,09/12/2016,21:00:00,0,5554,0,2016-09-12 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN
580870,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 01:00:00,09/13/2016,01:00:00,1,5554,0,2016-09-12 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580871,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 05:00:00,09/13/2016,05:00:00,1,5554,0,2016-09-13 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580872,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 09:00:00,09/13/2016,09:00:00,1,5554,0,2016-09-13 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580873,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 13:00:00,09/13/2016,13:00:00,1,5554,0,2016-09-13 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580874,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 17:00:00,09/13/2016,17:00:00,1,5554,0,2016-09-13 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580875,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 21:00:00,09/13/2016,21:00:00,1,5554,0,2016-09-13 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN
580876,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 01:00:00,09/14/2016,01:00:00,2,5554,0,2016-09-13 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580877,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 05:00:00,09/14/2016,05:00:00,2,5554,0,2016-09-14 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580878,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 09:00:00,09/14/2016,09:00:00,2,5554,0,2016-09-14 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580879,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 13:00:00,09/14/2016,13:00:00,2,5554,0,2016-09-14 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580880,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 17:00:00,09/14/2016,17:00:00,2,5554,0,2016-09-14 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580881,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 21:00:00,09/14/2016,21:00:00,2,5554,0,2016-09-14 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN
580882,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 01:00:00,09/15/2016,01:00:00,3,5554,0,2016-09-14 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580883,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 05:00:00,09/15/2016,05:00:00,3,5554,0,2016-09-15 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580884,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 09:00:00,09/15/2016,09:00:00,3,5554,0,2016-09-15 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580885,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 13:00:00,09/15/2016,13:00:00,3,5554,0,2016-09-15 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580886,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 17:00:00,09/15/2016,17:00:00,3,5554,0,2016-09-15 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580887,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 21:00:00,09/15/2016,21:00:00,3,5554,0,2016-09-15 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN
580888,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 01:00:00,09/16/2016,01:00:00,4,5554,0,2016-09-15 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN
580889,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 05:00:00,09/16/2016,05:00:00,4,5554,0,2016-09-16 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN
580890,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 09:00:00,09/16/2016,09:00:00,4,5554,0,2016-09-16 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN
580891,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 13:00:00,09/16/2016,13:00:00,4,5554,0,2016-09-16 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN
580892,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 17:00:00,09/16/2016,17:00:00,4,5554,0,2016-09-16 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN
580893,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 21:00:00,09/16/2016,21:00:00,4,5554,0,2016-09-16 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN

In [160]:
df = df[(df['TIMEDIFF'] > '0 days') & (df['TIMEDIFF'] < '1 day')]

In [170]:
# get the 6 4-hour blocks
df.loc[(df['PREVTIME'] >= '00:00:00') & (df['TIME'] <= '06:00:00'), 'TIMEBLOCK'] = 'block1'
df.loc[(df['PREVTIME'] >= '04:00:00') & (df['TIME'] <= '10:00:00'), 'TIMEBLOCK'] = 'block2'
df.loc[(df['PREVTIME'] >= '08:00:00') & (df['TIME'] <= '14:00:00'), 'TIMEBLOCK'] = 'block3'
df.loc[(df['PREVTIME'] >= '12:00:00') & (df['TIME'] <= '18:00:00'), 'TIMEBLOCK'] = 'block4'
df.loc[(df['PREVTIME'] >= '16:00:00') & (df['TIME'] <= '22:00:00'), 'TIMEBLOCK'] = 'block5'
df.loc[(df['PREVTIME'] >= '20:00:00') & (df['TIME'] <= '02:00:00'), 'TIMEBLOCK'] = 'block6'

# handle the longer blocks
df.loc[(df['TIMEDIFF'] > '04:00:00') & (df['TIMEDIFF'] < '12:00:00') & (df['PREVTIME'] >= '00:00:00') & (df['TIME'] <= '14:00:00'), 'TIMEBLOCK'] = 'blockA'
df.loc[(df['TIMEDIFF'] > '04:00:00') & (df['TIMEDIFF'] < '12:00:00') &  (df['PREVTIME'] >= '08:00:00') & (df['TIME'] <= '22:00:00'), 'TIMEBLOCK'] = 'blockB'
df.loc[(df['TIMEDIFF'] > '04:00:00') & (df['TIMEDIFF'] < '12:00:00') &  (df['PREVTIME'] >= '16:00:00') & (df['TIME'] <= '06:00:00'), 'TIMEBLOCK'] = 'blockC'

df

/Users/giordun/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

,C/A,UNIT,SCP,STATION,DATE_TIME,DATE,TIME,DAYOFWEEK,ENTRIES,DAILY,PREVDT,PREVENT,PREVTIME,ENTRIESDIFF,TIMEDIFF,ENTRYPROP,TIMEBLOCK
1,A002,R051,02-00-00,59 ST,2016-08-27 04:00:00,08/27/2016,04:00:00,5,5799463,679,2016-08-27 00:00:00,5799442.0,00:00:00,21.0,04:00:00,0.030928,block1
2,A002,R051,02-00-00,59 ST,2016-08-27 08:00:00,08/27/2016,08:00:00,5,5799492,679,2016-08-27 04:00:00,5799463.0,04:00:00,29.0,04:00:00,0.042710,block2
3,A002,R051,02-00-00,59 ST,2016-08-27 12:00:00,08/27/2016,12:00:00,5,5799610,679,2016-08-27 08:00:00,5799492.0,08:00:00,118.0,04:00:00,0.173785,block3
4,A002,R051,02-00-00,59 ST,2016-08-27 16:00:00,08/27/2016,16:00:00,5,5799833,679,2016-08-27 12:00:00,5799610.0,12:00:00,223.0,04:00:00,0.328424,block4
5,A002,R051,02-00-00,59 ST,2016-08-27 20:00:00,08/27/2016,20:00:00,5,5800121,679,2016-08-27 16:00:00,5799833.0,16:00:00,288.0,04:00:00,0.424153,block5
6,A002,R051,02-00-00,59 ST,2016-08-28 00:00:00,08/28/2016,00:00:00,6,5800252,546,2016-08-27 20:00:00,5800121.0,20:00:00,131.0,04:00:00,0.239927,block6
7,A002,R051,02-00-00,59 ST,2016-08-28 04:00:00,08/28/2016,04:00:00,6,5800281,546,2016-08-28 00:00:00,5800252.0,00:00:00,29.0,04:00:00,0.053114,block1
8,A002,R051,02-00-00,59 ST,2016-08-28 08:00:00,08/28/2016,08:00:00,6,5800295,546,2016-08-28 04:00:00,5800281.0,04:00:00,14.0,04:00:00,0.025641,block2
9,A002,R051,02-00-00,59 ST,2016-08-28 12:00:00,08/28/2016,12:00:00,6,5800377,546,2016-08-28 08:00:00,5800295.0,08:00:00,82.0,04:00:00,0.150183,block3
10,A002,R051,02-00-00,59 ST,2016-08-28 16:00:00,08/28/2016,16:00:00,6,5800572,546,2016-08-28 12:00:00,5800377.0,12:00:00,195.0,04:00:00,0.357143,block4
11,A002,R051,02-00-00,59 ST,2016-08-28 20:00:00,08/28/2016,20:00:00,6,5800798,546,2016-08-28 16:00:00,5800572.0,16:00:00,226.0,04:00:00,0.413919,block5
12,A002,R051,02-00-00,59 ST,2016-08-29 00:00:00,08/29/2016,00:00:00,0,5800934,1402,2016-08-28 20:00:00,5800798.0,20:00:00,136.0,04:00:00,0.097004,block6
13,A002,R051,02-00-00,59 ST,2016-08-29 04:00:00,08/29/2016,04:00:00,0,5800947,1402,2016-08-29 00:00:00,5800934.0,00:00:00,13.0,04:00:00,0.009272,block1
14,A002,R051,02-00-00,59 ST,2016-08-29 08:00:00,08/29/2016,08:00:00,0,5800996,1402,2016-08-29 04:00:00,5800947.0,04:00:00,49.0,04:00:00,0.034950,block2
15,A002,R051,02-00-00,59 ST,2016-08-29 12:00:00,08/29/2016,12:00:00,0,5801176,1402,2016-08-29 08:00:00,5800996.0,08:00:00,180.0,04:00:00,0.128388,block3
16,A002,R051,02-00-00,59 ST,2016-08-29 16:00:00,08/29/2016,16:00:00,0,5801495,1402,2016-08-29 12:00:00,5801176.0,12:00:00,319.0,04:00:00,0.227532,block4
17,A002,R051,02-00-00,59 ST,2016-08-29 20:00:00,08/29/2016,20:00:00,0,5802336,1402,2016-08-29 16:00:00,5801495.0,16:00:00,841.0,04:00:00,0.599857,block5
18,A002,R051,02-00-00,59 ST,2016-08-30 00:00:00,08/30/2016,00:00:00,1,5802514,1361,2016-08-29 20:00:00,5802336.0,20:00:00,178.0,04:00:00,0.130786,block6
19,A002,R051,02-00-00,59 ST,2016-08-30 04:00:00,08/30/2016,04:00:00,1,5802528,1361,2016-08-30 00:00:00,5802514.0,00:00:00,14.0,04:00:00,0.010287,block1
20,A002,R051,02-00-00,59 ST,2016-08-30 08:00:00,08/30/2016,08:00:00,1,5802575,1361,2016-08-30 04:00:00,5802528.0,04:00:00,47.0,04:00:00,0.034533,block2
21,A002,R051,02-00-00,59 ST,2016-08-30 12:00:00,08/30/2016,12:00:00,1,5802760,1361,2016-08-30 08:00:00,5802575.0,08:00:00,185.0,04:00:00,0.135929,block3
22,A002,R051,02-00-00,59 ST,2016-08-30 16:00:00,08/30/2016,16:00:00,1,5803047,1361,2016-08-30 12:00:00,5802760.0,12:00:00,287.0,04:00:00,0.210874,block4
23,A002,R051,02-00-00,59 ST,2016-08-30 20:00:00,08/30/2016,20:00:00,1,5803875,1361,2016-08-30 16:00:00,5803047.0,16:00:00,828.0,04:00:00,0.608376,block5
24,A002,R051,02-00-00,59 ST,2016-08-31 00:00:00,08/31/2016,00:00:00,2,5804071,1312,2016-08-30 20:00:00,5803875.0,20:00:00,196.0,04:00:00,0.149390,block6
25,A002,R051,02-00-00,59 ST,2016-08-31 04:00:00,08/31/2016,04:00:00,2,5804084,1312,2016-08-31 00:00:00,5804071.0,00:00:00,13.0,04:00:00,0.009909,block1
26,A002,R051,02-00-00,59 ST,2016-08-31 08:00:00,08/31/2016,08:00:00,2,5804129,1312,2016-08-31 04:00:00,5804084.0,04:00:00,45.0,04:00:00,0.034299,block2
27,A002,R051,02-00-00,59 ST,2016-08-31 12:00:00,08/31/2016,12:00:00,2,5804308,1312,2016-08-31 08:00:00,5804129.0,08:00:00,179.0,04:00:00,0.136433,block3
28,A002,R051,02-00-00,59 ST,2016-08-31 16:00:00,08/31/2016,16:00:00,2,5804589,1312,2016-08-31 12:00:00,5804308.0,12:00:00,281.0,04:00:00,0.214177,block4
29,A002,R051,02-00-00,59 ST,2016-08-31 20:00:00,08/31/2016,20:00:00,2,5805383,1312,2016-08-31 16:00:00,5804589.0,16:00:00,794.0,04:00:00,0.605183,block5
30,A002,R051,02-00-00,59 ST,2016-09-01 00:00:00,09/01/2016,00:00:00,3,5805638,1352,2016-08-31 20:00:00,5805383.0,20:00:00,255.0,04:00:00,0.188609,block6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
580864,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 01:00:00,09/12/2016,01:00:00,0,5554,0,2016-09-11 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN,block6
580865,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 05:00:00,09/12/2016,05:00:00,0,5554,0,2016-09-12 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN,block1
580866,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 09:00:00,09/12/2016,09:00:00,0,5554,0,2016-09-12 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN,block2
580867,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 13:00:00,09/12/2016,13:00:00,0,5554,0,2016-09-12 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN,block3
580868,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 17:00:00,09/12/2016,17:00:00,0,5554,0,2016-09-12 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN,block4
580869,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 21:00:00,09/12/2016,21:00:00,0,5554,0,2016-09-12 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN,block5
580870,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 01:00:00,09/13/2016,01:00:00,1,5554,0,2016-09-12 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN,block6
580871,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 05:00:00,09/13/2016,05:00:00,1,5554,0,2016-09-13 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN,block1
580872,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 09:00:00,09/13/2016,09:00:00,1,5554,0,2016-09-13 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN,block2
580873,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 13:00:00,09/13/2016,13:00:00,1,5554,0,2016-09-13 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN,block3
580874,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 17:00:00,09/13/2016,17:00:00,1,5554,0,2016-09-13 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN,block4
580875,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-13 21:00:00,09/13/2016,21:00:00,1,5554,0,2016-09-13 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN,block5
580876,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 01:00:00,09/14/2016,01:00:00,2,5554,0,2016-09-13 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN,block6
580877,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 05:00:00,09/14/2016,05:00:00,2,5554,0,2016-09-14 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN,block1
580878,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 09:00:00,09/14/2016,09:00:00,2,5554,0,2016-09-14 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN,block2
580879,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 13:00:00,09/14/2016,13:00:00,2,5554,0,2016-09-14 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN,block3
580880,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 17:00:00,09/14/2016,17:00:00,2,5554,0,2016-09-14 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN,block4
580881,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-14 21:00:00,09/14/2016,21:00:00,2,5554,0,2016-09-14 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN,block5
580882,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 01:00:00,09/15/2016,01:00:00,3,5554,0,2016-09-14 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN,block6
580883,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 05:00:00,09/15/2016,05:00:00,3,5554,0,2016-09-15 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN,block1
580884,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 09:00:00,09/15/2016,09:00:00,3,5554,0,2016-09-15 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN,block2
580885,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 13:00:00,09/15/2016,13:00:00,3,5554,0,2016-09-15 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN,block3
580886,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 17:00:00,09/15/2016,17:00:00,3,5554,0,2016-09-15 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN,block4
580887,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-15 21:00:00,09/15/2016,21:00:00,3,5554,0,2016-09-15 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN,block5
580888,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 01:00:00,09/16/2016,01:00:00,4,5554,0,2016-09-15 21:00:00,5554.0,21:00:00,0.0,04:00:00,NaN,block6
580889,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 05:00:00,09/16/2016,05:00:00,4,5554,0,2016-09-16 01:00:00,5554.0,01:00:00,0.0,04:00:00,NaN,block1
580890,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 09:00:00,09/16/2016,09:00:00,4,5554,0,2016-09-16 05:00:00,5554.0,05:00:00,0.0,04:00:00,NaN,block2
580891,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 13:00:00,09/16/2016,13:00:00,4,5554,0,2016-09-16 09:00:00,5554.0,09:00:00,0.0,04:00:00,NaN,block3
580892,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 17:00:00,09/16/2016,17:00:00,4,5554,0,2016-09-16 13:00:00,5554.0,13:00:00,0.0,04:00:00,NaN,block4
580893,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-16 21:00:00,09/16/2016,21:00:00,4,5554,0,2016-09-16 17:00:00,5554.0,17:00:00,0.0,04:00:00,NaN,block5

In [171]:
df[df['TIMEBLOCK'].isnull()]

,C/A,UNIT,SCP,STATION,DATE_TIME,DATE,TIME,DAYOFWEEK,ENTRIES,DAILY,PREVDT,PREVENT,PREVTIME,ENTRIESDIFF,TIMEDIFF,ENTRYPROP,TIMEBLOCK
50183,B023,R211,01-06-00,KINGS HWY,2016-09-11 16:00:00,09/11/2016,16:00:00,6,2208120,544,2016-09-11 04:00:00,2.207781e+06,04:00:00,339.0,12:00:00,0.623162,NaN
61949,C009,R057,03-05-00,ATL AV-BARCLAY,2016-09-04 16:00:00,09/04/2016,16:00:00,6,79,3,2016-09-04 04:00:00,7.600000e+01,04:00:00,3.0,12:00:00,1.000000,NaN
175269,N095A,R014,01-03-04,FULTON ST,2016-09-15 17:00:00,09/15/2016,17:00:00,3,99381,0,2016-09-15 05:00:00,9.938100e+04,05:00:00,0.0,12:00:00,NaN,NaN
175271,N095A,R014,01-03-04,FULTON ST,2016-09-16 17:00:00,09/16/2016,17:00:00,4,99381,0,2016-09-16 01:00:00,9.938100e+04,01:00:00,0.0,16:00:00,NaN,NaN
252874,N335,R158,01-00-01,KEW GARDENS,2016-08-27 22:30:00,08/27/2016,22:30:00,5,10723625,572,2016-08-27 14:30:00,1.072341e+07,14:30:00,217.0,08:00:00,0.379371,NaN
300302,N532,R129,00-00-02,BERGEN ST,2016-09-11 21:00:00,09/11/2016,21:00:00,6,1117,3664512,2016-09-11 05:00:00,3.665629e+06,05:00:00,-3664512.0,16:00:00,-1.000000,NaN
338155,PTH07,R550,00-01-02,CITY / BUS,2016-09-01 14:05:04,09/01/2016,14:05:04,3,50,238193,2016-09-01 05:52:53,2.382430e+05,05:52:53,-238193.0,08:12:11,-1.000000,NaN
345355,PTH16,R550,01-00-03,LACKAWANNA,2016-09-06 23:33:59,09/06/2016,23:33:59,1,13689,164,2016-09-06 04:26:51,1.352500e+04,04:26:51,164.0,19:07:08,1.000000,NaN
346382,PTH16,R550,01-01-03,LACKAWANNA,2016-08-28 16:09:47,08/28/2016,16:09:47,6,0,0,2016-08-28 06:05:32,0.000000e+00,06:05:32,0.0,10:04:15,NaN,NaN
346673,PTH16,R550,01-01-05,LACKAWANNA,2016-09-06 18:32:58,09/06/2016,18:32:58,1,312678,488,2016-09-06 05:56:58,3.122450e+05,05:56:58,433.0,12:36:00,0.887295,NaN
346770,PTH16,R550,01-01-06,LACKAWANNA,2016-09-07 14:28:48,09/07/2016,14:28:48,2,5738,0,2016-09-07 07:50:43,5.738000e+03,07:50:43,0.0,06:38:05,NaN,NaN
445456,R238A,R046,02-00-03,GRD CNTRL-42 ST,2016-09-07 16:00:00,09/07/2016,16:00:00,2,2147372133,687,2016-09-07 04:00:00,2.147372e+09,04:00:00,-188.0,12:00:00,-0.273654,NaN
448525,R242,R049,01-00-02,51 ST,2016-09-14 16:00:00,09/14/2016,16:00:00,2,151,6130945,2016-09-14 00:00:00,6.131096e+06,00:00:00,-6130945.0,16:00:00,-1.000000,NaN
450251,R243,R049,00-03-00,51 ST,2016-09-04 16:00:00,09/04/2016,16:00:00,6,520616430,197,2016-09-04 04:00:00,5.206163e+08,04:00:00,114.0,12:00:00,0.578680,NaN
450255,R243,R049,00-03-00,51 ST,2016-09-05 16:00:00,09/05/2016,16:00:00,0,520616655,178,2016-09-05 04:00:00,5.206166e+08,04:00:00,76.0,12:00:00,0.426966,NaN
464273,R256,R182,00-00-02,116 ST,2016-09-02 17:00:00,09/02/2016,17:00:00,4,329,11078280,2016-09-02 01:00:00,1.107861e+07,01:00:00,-11078280.0,16:00:00,-1.000000,NaN
491523,R327,R361,01-05-00,PELHAM PKWY,2016-09-05 17:00:00,09/05/2016,17:00:00,0,100663296,100661997,2016-09-05 01:00:00,1.299000e+03,01:00:00,100661997.0,16:00:00,1.000000,NaN
494835,R333,R366,00-00-02,225 ST,2016-09-01 15:38:31,09/01/2016,15:38:31,3,5557271,1323,2016-09-01 05:00:00,5.556280e+06,05:00:00,991.0,10:38:31,0.749055,NaN
522599,R516,R291,00-03-02,33 ST-RAWSON ST,2016-09-13 16:00:00,09/13/2016,16:00:00,1,382035,1582,2016-09-13 04:00:00,3.813900e+05,04:00:00,645.0,12:00:00,0.407712,NaN
530484,R526,R096,00-05-03,82 ST-JACKSON H,2016-09-01 16:00:00,09/01/2016,16:00:00,3,76,563964,2016-09-01 00:00:00,5.640400e+05,00:00:00,-563964.0,16:00:00,-1.000000,NaN
544043,R550,R072,00-03-03,34 ST-HUDSON YD,2016-09-16 16:00:00,09/16/2016,16:00:00,4,366682,855,2016-09-16 04:00:00,3.664140e+05,04:00:00,268.0,12:00:00,0.313450,NaN
544868,R550,R072,00-03-0A,34 ST-HUDSON YD,2016-09-14 16:00:00,09/14/2016,16:00:00,2,260,156,2016-09-14 00:00:00,2.330000e+02,00:00:00,27.0,16:00:00,0.173077,NaN
544872,R550,R072,00-03-0A,34 ST-HUDSON YD,2016-09-15 16:00:00,09/15/2016,16:00:00,3,434,45,2016-09-15 04:00:00,3.890000e+02,04:00:00,45.0,12:00:00,1.000000,NaN

In [147]:
imip

(576316, 17)

,C/A,UNIT,SCP,STATION,DATE_TIME,DAYOFWEEK,ENTRIES,PREVDT,PREVENT,ENTRIESDIFF,TIMEDIFF
26,A002,R051,02-00-00,59 ST,2016-09-02 08:00:00,4,5807309,2016-09-02 04:00:00,5807263.0,46.0,0 days 04:00:00
27,A002,R051,02-00-00,59 ST,2016-09-02 12:00:00,4,5807479,2016-09-02 08:00:00,5807309.0,170.0,0 days 04:00:00
28,A002,R051,02-00-00,59 ST,2016-09-02 16:00:00,4,5807949,2016-09-02 12:00:00,5807479.0,470.0,0 days 04:00:00
29,A002,R051,02-00-00,59 ST,2016-09-02 20:00:00,4,5808616,2016-09-02 16:00:00,5807949.0,667.0,0 days 04:00:00
30,A002,R051,02-00-00,59 ST,2016-09-05 00:00:00,0,5810301,2016-09-02 20:00:00,5808616.0,1685.0,2 days 04:00:00
31,A002,R051,02-00-00,59 ST,2016-09-05 04:00:00,0,5810328,2016-09-05 00:00:00,5810301.0,27.0,0 days 04:00:00
32,A002,R051,02-00-00,59 ST,2016-09-05 08:00:00,0,5810338,2016-09-05 04:00:00,5810328.0,10.0,0 days 04:00:00
33,A002,R051,02-00-00,59 ST,2016-09-05 12:00:00,0,5810428,2016-09-05 08:00:00,5810338.0,90.0,0 days 04:00:00
34,A002,R051,02-00-00,59 ST,2016-09-05 16:00:00,0,5810610,2016-09-05 12:00:00,5810428.0,182.0,0 days 04:00:00
35,A002,R051,02-00-00,59 ST,2016-09-05 20:00:00,0,5810871,2016-09-05 16:00:00,5810610.0,261.0,0 days 04:00:00

In [122]:
df = df[(df.TIMEDIFF != '4 hours')]
df

,C/A,UNIT,SCP,STATION,DATE_TIME,DAYOFWEEK,ENTRIES,PREVDT,PREVENT,ENTRIESDIFF,TIMEDIFF
30,A002,R051,02-00-00,59 ST,2016-09-05 00:00:00,0,5810301,2016-09-02 20:00:00,5808616.0,1685.0,2 days 04:00:00
60,A002,R051,02-00-00,59 ST,2016-09-12 00:00:00,0,5819116,2016-09-09 20:00:00,5817253.0,1863.0,2 days 04:00:00
90,A002,R051,02-00-01,59 ST,2016-08-29 00:00:00,0,5330773,2016-09-16 20:00:00,5827597.0,-496824.0,-19 days +04:00:00
120,A002,R051,02-00-01,59 ST,2016-09-05 00:00:00,0,5338431,2016-09-02 20:00:00,5337013.0,1418.0,2 days 04:00:00
132,A002,R051,02-00-01,59 ST,2016-09-07 12:00:00,2,5340181,2016-09-06 20:00:00,5340098.0,83.0,0 days 16:00:00
147,A002,R051,02-00-01,59 ST,2016-09-12 00:00:00,0,5345654,2016-09-09 20:00:00,5343988.0,1666.0,2 days 04:00:00
177,A002,R051,02-03-00,59 ST,2016-08-29 00:00:00,0,758028,2016-09-16 20:00:00,5352683.0,-4594655.0,-19 days +04:00:00
207,A002,R051,02-03-00,59 ST,2016-09-05 00:00:00,0,761822,2016-09-02 20:00:00,760841.0,981.0,2 days 04:00:00
237,A002,R051,02-03-00,59 ST,2016-09-12 00:00:00,0,768264,2016-09-09 20:00:00,766736.0,1528.0,2 days 04:00:00
267,A002,R051,02-03-01,59 ST,2016-08-29 00:00:00,0,5327082,2016-09-16 20:00:00,773716.0,4553366.0,-19 days +04:00:00
297,A002,R051,02-03-01,59 ST,2016-09-05 00:00:00,0,5334461,2016-09-02 20:00:00,5333880.0,581.0,2 days 04:00:00
327,A002,R051,02-03-01,59 ST,2016-09-12 00:00:00,0,5334462,2016-09-09 20:00:00,5334462.0,0.0,2 days 04:00:00
357,A002,R051,02-03-02,59 ST,2016-08-29 00:00:00,0,5034085,2016-09-16 20:00:00,5334462.0,-300377.0,-19 days +04:00:00
387,A002,R051,02-03-02,59 ST,2016-09-05 00:00:00,0,5042891,2016-09-02 20:00:00,5040504.0,2387.0,2 days 04:00:00
417,A002,R051,02-03-02,59 ST,2016-09-12 00:00:00,0,5054716,2016-09-09 20:00:00,5051788.0,2928.0,2 days 04:00:00
447,A002,R051,02-03-03,59 ST,2016-08-29 00:00:00,0,4676919,2016-09-16 20:00:00,5064767.0,-387848.0,-19 days +04:00:00
477,A002,R051,02-03-03,59 ST,2016-09-05 00:00:00,0,4685311,2016-09-02 20:00:00,4683594.0,1717.0,2 days 04:00:00
507,A002,R051,02-03-03,59 ST,2016-09-12 00:00:00,0,4694454,2016-09-09 20:00:00,4692533.0,1921.0,2 days 04:00:00
537,A002,R051,02-03-04,59 ST,2016-08-29 00:00:00,0,5918014,2016-09-16 20:00:00,4702591.0,1215423.0,-19 days +04:00:00
567,A002,R051,02-03-04,59 ST,2016-09-05 00:00:00,0,5928250,2016-09-02 20:00:00,5926227.0,2023.0,2 days 04:00:00
597,A002,R051,02-03-04,59 ST,2016-09-12 00:00:00,0,5938599,2016-09-09 20:00:00,5936492.0,2107.0,2 days 04:00:00
627,A002,R051,02-03-05,59 ST,2016-08-29 00:00:00,0,9561574,2016-09-16 20:00:00,5948375.0,3613199.0,-19 days +04:00:00
657,A002,R051,02-03-05,59 ST,2016-09-05 00:00:00,0,9578268,2016-09-02 20:00:00,9574965.0,3303.0,2 days 04:00:00
687,A002,R051,02-03-05,59 ST,2016-09-12 00:00:00,0,9594893,2016-09-09 20:00:00,9591222.0,3671.0,2 days 04:00:00
717,A002,R051,02-03-06,59 ST,2016-08-29 00:00:00,0,7513068,2016-09-16 20:00:00,9609313.0,-2096245.0,-19 days +04:00:00
747,A002,R051,02-03-06,59 ST,2016-09-05 00:00:00,0,7526793,2016-09-02 20:00:00,7524637.0,2156.0,2 days 04:00:00
777,A002,R051,02-03-06,59 ST,2016-09-12 00:00:00,0,7540848,2016-09-09 20:00:00,7538277.0,2571.0,2 days 04:00:00
807,A002,R051,02-05-00,59 ST,2016-08-29 00:00:00,0,1303,2016-09-16 20:00:00,7553777.0,-7552474.0,-19 days +04:00:00
837,A002,R051,02-05-00,59 ST,2016-09-05 00:00:00,0,1308,2016-09-02 20:00:00,1308.0,0.0,2 days 04:00:00
867,A002,R051,02-05-00,59 ST,2016-09-12 00:00:00,0,1310,2016-09-09 20:00:00,1310.0,0.0,2 days 04:00:00
...,...,...,...,...,...,...,...,...,...,...,...
416088,TRAM1,R468,00-00-00,RIT-MANHATTAN,2016-08-29 01:00:00,0,293192,2016-09-16 22:00:00,47.0,293145.0,-19 days +03:00:00
416118,TRAM1,R468,00-00-00,RIT-MANHATTAN,2016-09-05 01:00:00,0,303298,2016-09-02 21:00:00,299869.0,3429.0,2 days 04:00:00
416148,TRAM1,R468,00-00-00,RIT-MANHATTAN,2016-09-12 01:00:00,0,313186,2016-09-09 21:00:00,310190.0,2996.0,2 days 04:00:00
416178,TRAM1,R468,00-00-01,RIT-MANHATTAN,2016-08-29 01:00:00,0,1753528,2016-09-16 21:00:00,320272.0,1433256.0,-19 days +04:00:00
416208,TRAM1,R468,00-00-01,RIT-MANHATTAN,2016-09-05 01:00:00,0,1765763,2016-09-02 21:00:00,1762018.0,3745.0,2 days 04:00:00
416238,TRAM1,R468,00-00-01,RIT-MANHATTAN,2016-09-12 01:00:00,0,1778205,2016-09-09 21:00:00,1774389.0,3816.0,2 days 04:00:00
416268,TRAM1,R468,00-00-02,RIT-MANHATTAN,2016-08-29 01:00:00,0,1297689,2016-09-16 21:00:00,1787487.0,-489798.0,-19 days +04:00:00
416298,TRAM1,R468,00-00-02,RIT-MANHATTAN,2016-09-05 01:00:00,0,1303503,2016-09-02 21:00:00,1301703.0,1800.0,2 days 04:00:00
416328,TRAM1,R468,00-00-02,RIT-MANHATTAN,2016-09-12 01:00:00,0,1308993,2016-09-09 21:00:00,1307459.0,1534.0,2 days 04:00:00
416358,TRAM1,R468,00-05-00,RIT-MANHATTAN,2016-08-29 01:00:00,0,1646,2016-09-16 21:00:00,1313260.0,-1311614.0,-19 days +04:00:00
416388,TRAM1,R468,00-05-00,RIT-MANHATTAN,2016-09-05 01:00:00,0,1661,2016-09-02 21:00:00,1656.0,5.0,2 days 04:00:00
416418,TRAM1,R468,00-05-00,RIT-MANHATTAN,2016-09-12 01:00:00,0,1673,2016-09-09 21:00:00,1669.0,4.0,2 days 04:00:00
416448,TRAM2,R469,00-00-00,RIT-ROOSEVELT,2016-08-29 01:00:00,0,3310132,2016-09-16 21:00:00,1684.0,3308448.0,-19 days +04:00:00
416478,TRAM2,R469,00-00-00,RIT-ROOSEVELT,2016-09-05 01:00:00,0,3321666,2016-09-02 21:00:00,3318122.0,3544.0,2 days 04:00:00
416508,TRAM2,R469,00-00-00,RIT-ROOSEVELT,2016-09-12 01:00:00,0,3333525,2016-09-09 21:00:00,3330145.0,3380.0,2 days 04:00:00
416538,TRAM2,R469,00-00-01,RIT-ROOSEVELT,2016-08-29 01:00:00,0,1829362,2016-09-16 21:00:00,3342343.0,-1512981.0,-19 days +04:00:00
416568,TRAM2,R469,00-00-01,RIT-ROOSEVELT,2016-09-05 01:00:00,0,1840873,2016-09-02 21:00:00,1837441.0,3432.0,2 days 04:00:00
416598,TRAM2,R469,00-00-01,RIT-ROOSEVELT,2016-09-12 01:00:00,0,1852588,2016-09-09 21:00:00,1849264.0,3324.0,2 days 04:00:00
416628,TRAM2,R469,00-03-00,RIT-ROOSEVELT,2016-08-29 01:00:00,0,335652,2016-09-16 21:00:00,1861057.0,-1525405.0,-19 days +04:00:00
416658,TRAM2,R469,00-03-00,RIT-ROOSEVELT,2016-09-05 01:00:00,0,337481,2016-09-02 21:00:00,336892.0,589.0,2 days 04:00:00
416688,TRAM2,R469,00-03-00,RIT-ROOSEVELT,2016-09-12 01:00:00,0,339117,2016-09-09 21:00:00,338615.0,502.0,2 days 04:00:00
416718,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2016-08-29 01:00:00,0,2657732,2016-09-16 21:00:00,340514.0,2317218.0,-19 days +04:00:00
416748,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2016-09-05 01:00:00,0,2659894,2016-09-02 21:00:00,2659132.0,762.0,2 days 04:00:00
416778,TRAM2,R469,00-03-01,RIT-ROOSEVELT,2016-09-12 01:00:00,0,2662040,2016-09-09 21:00:00,2661419.0,621.0,2 days 04:00:00
416808,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2016-08-29 01:00:00,0,2357,2016-09-16 21:00:00,2663575.0,-2661218.0,-19 days +04:00:00
416838,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2016-09-05 01:00:00,0,2365,2016-09-02 21:00:00,2363.0,2.0,2 days 04:00:00
416868,TRAM2,R469,00-05-00,RIT-ROOSEVELT,2016-09-12 01:00:00,0,2381,2016-09-09 21:00:00,2379.0,2.0,2 days 04:00:00
416898,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-08-29 01:00:00,0,5554,2016-09-16 21:00:00,2389.0,3165.0,-19 days +04:00:00
416928,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-05 01:00:00,0,5554,2016-09-02 21:00:00,5554.0,0.0,2 days 04:00:00
416958,TRAM2,R469,00-05-01,RIT-ROOSEVELT,2016-09-12 01:00:00,0,5554,2016-09-09 21:00:00,5554.0,0.0,2 days 04:00:00

In [28]:
# Need to throw out the weekends
weekdays = turnstiles_df[(turnstiles_df['DAYOFWEEK'] != 5) & (turnstiles_df['DAYOFWEEK'] != 6)]

df = weekdays.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'DATE_TIME', 'DAYOFWEEK'], as_index = False).ENTRIES.max()
turnstiles_df.groupby(['C/A', 'UNIT', 'SCP', 'STATION', 'TIME']).ENTRIES.max()

C/A    UNIT  SCP       STATION        TIME
A002   R051  02-00-00  59 ST          00:00:00    5826092
                                      04:00:00    5826120
                                      08:00:00    5826171
                                      12:00:00    5826346
                                      16:00:00    5826719
                                      20:00:00    5827597
             02-00-01  59 ST          00:00:00    5351421
                                      04:00:00    5351435
                                      08:00:00    5351484
                                      12:00:00    5351639
                                      16:00:00    5351946
                                      20:00:00    5352683
             02-03-00  59 ST          00:00:00     772790
                                      04:00:00     772810
                                      08:00:00     772842
                                      12:00:00     772950
                                      16:00:00     773194
                                      20:00:00     773716
             02-03-01  59 ST          00:00:00    5334462
                                      04:00:00    5334462
                                      08:00:00    5334462
                                      12:00:00    5334462
                                      16:00:00    5334462
                                      20:00:00    5334462
             02-03-02  59 ST          00:00:00    5062960
                                      04:00:00    5063012
                                      08:00:00    5063086
                                      12:00:00    5063374
                                      16:00:00    5063874
                                      20:00:00    5064767
                                                   ...
TRAM2  R469  00-00-01  RIT-ROOSEVELT  01:00:00    1859195
                                      05:00:00    1859195
                                      09:00:00    1859851
                                      13:00:00    1860361
                                      17:00:00    1860744
                                      21:00:00    1861057
             00-03-00  RIT-ROOSEVELT  01:00:00     340256
                                      05:00:00     340256
                                      09:00:00     340282
                                      13:00:00     340335
                                      17:00:00     340438
                                      21:00:00     340514
             00-03-01  RIT-ROOSEVELT  01:00:00    2663252
                                      05:00:00    2663252
                                      09:00:00    2663281
                                      13:00:00    2663359
                                      17:00:00    2663475
                                      21:00:00    2663575
             00-05-00  RIT-ROOSEVELT  01:00:00       2387
                                      05:00:00       2387
                                      09:00:00       2388
                                      13:00:00       2389
                                      17:00:00       2389
                                      21:00:00       2389
             00-05-01  RIT-ROOSEVELT  01:00:00       5554
                                      05:00:00       5554
                                      09:00:00       5554
                                      13:00:00       5554
                                      17:00:00       5554
                                      21:00:00       5554
Name: ENTRIES, Length: 55901, dtype: int64